@charset "UTF-8";
main{
	display: flex;
}

.dice{
	width: 250px;
}

#log{
	overflow-y: scroll;
	width: 100px;
	margin-right: 30px;
	height: 60vh;
	letter-spacing: 1.6px;
	background-color: #eee;
}


section{
	margin-top: 20px;
	padding: 30px 0 30px 15px;
	display: flex;
}

div{
	font-size: 12px;
	width: 50px;
	text-align: center;
	margin: auto 0;
}

span{
	color: red;
	font-size: 12px;
	text-align: center;
	margin: auto 0;
}

.red{
	color: red;
}
@media screen and (min-width: 600px){
	main{
		max-width: 600px;
		margin: auto;
		justify-content: space-around;
	}

	div{
		font-size: 16px;
	}

	.btn1{
		width: 50px;
	}

	.dice{
		width: 250px;
	}

	span{
		font-size: 16px;
	}

	#log{
		width: 150px;
	}
}